
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #001F3F;
}
h1, h2 {
  color: #001F3F;
}
section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
